
.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.checkbtn {
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none; 
}

#check {
    display: none; 
}


@media (max-width: 858px) {
    .checkbtn {
        display: block; 
    }

    .navbar ul {
        padding: 0;            
    }

    .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #DD7230; /* Background color of mobile menu */
        top: 34px; 
        left: -100%; /* Hide menu off-screen */
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 1000;
    }

    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 1px;
    }

    /* When checkbox is checked, slide menu in */
    #check:checked ~ ul {
        left: 0;
    }
}
